@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


body{
    width: 100%;
    height: 80vh;
    margin: 0;
}

.logo{
    width: 80px;
    margin-top : 20 px;
    margin-left: 110px;
}
header{
    background-color: #2E2D2A;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
}
.containernav{
    display: flex;
    align-items: center;
    gap: 120px;
    margin-right: 110px;
}
.containernav a {
  text-decoration: none;
}
.text1 {
    color: #f5f5f5;
    font-size: 22px;
    font-family: Poppins, "SemiBold";
    font-weight: 600;
}
.text1:hover{
  color: #e9bd8c;
}
.text2{
  color: #f5f5f5;
  font-size: 22px;
  font-family: Poppins, "SemiBold";
  font-weight: 600;
}
.text2:hover{
  color: #e9bd8c;
}
.text3 {
  color: #e9bd8c;
  font-size: 22px;
  font-family: Poppins, "SemiBold";
  font-weight: 600;
}

.text4 {
  color: #f5f5f5;
  font-size: 22px;
  font-family: Poppins, "SemiBold";
  font-weight: 600;
}

.text4:hover{
  color: #e9bd8c;
}
section{
  margin-top: 250px;
}

.contactus{
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.name input{
  width: 220px;
  height: 55px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #D9D9D9;
  padding: 0 20px;
}

.name input::placeholder{
  font-family: "Sansita Swashed", system-ui;
  font-weight: 600;
}
.name input:first-child{
  margin-right: 10px;
}

.contactus div h2{
  font-family: "Sansita Swashed", system-ui;
  font-weight: 600;
  font-size: 50px;
}

.contactus div p{
  font-family: "Inter", sans-serif;
  font-weight: 500;
}


#email input{
  margin-top: 10px;
  width: 495px;
  height: 55px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #D9D9D9;
  padding: 0 20px;
}

#email input::placeholder{
  font-family: "Sansita Swashed", system-ui;
  font-weight: 600;
}

#msg input{
  margin-top: 10px;
  width: 495px;
  height: 55px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #D9D9D9;
  padding: 0 20px;
}

#msg input::placeholder{
  font-family: "Sansita Swashed", system-ui;
  font-weight: 600;
}

#sub input{
  position: relative;
  left: 410px;
  margin-top: 10px;
  width: 120px;
  height: 60px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #E9BD8C;
  transition: ease .4s;
  cursor: pointer;
}

#sub input[type=Submit]{
  font-family: "Sansita Swashed", system-ui;
  font-weight: 600;
}

#sub input:hover{
    transform: scale(1.1);
}

/* footer */


.footer{
  background-image: url(img/footerBack.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 160px;
  padding: 50px 0;
}

.Followus{
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #E9BD8D;
}

.firstelement{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 60px;
  border-bottom: 1px solid #E9BD8D;
}
.Followus{
  position: relative;
  left: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.Followus img{
  width: 30px;
}

.Followus p{
  position: relative;
  right: 70px;
}

.faboutus h3 {
  color: #E9BD8D;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  margin-left: 40px;
  font-size: 40px;
}

.faboutus{
  margin: 60px 0 0 180px;
}

.faboutus ul li a{
  color: #F5F5F5;
  text-decoration: none;
  list-style-type: none;
  font-family: Poppins, "SemiBold";
  font-weight: 600;
  font-size: 20px;
}

.faboutus ul li:first-child{
  margin-bottom: 15px;
}
.faboutus ul li:last-child{
  margin-top: 15px;
}

.firstelement span img{
  position: relative;
  right: 60px;
}
.aboutExcontent {
  display: flex;
}

.ExploreMoretxt{
  padding: 60px 0 60px 0;
}

#Recenttxt{
  margin-left: 120px;
  margin-bottom: 45px;
}

.recentitems{
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: 120px;
}

.recentInfos span:first-child{
  font-family: Poppins, "SemiBold";
  font-weight: 400;
  font-size: 13px;
  color: #E9BD8C;
  display: block;
  margin-bottom: 12px;
}
.recentInfos span:last-child{
  font-family: Poppins, "SemiBold";
  font-weight: 500;
  font-size: 20px;
  color: #F5F5F5;
}

.recentInfos{
  position: relative;
  bottom: 10px;
}

.footer h4{
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #737373;
  margin-bottom: 0;
  margin-top: 70px;
}